<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.240820.60235" targetFramework="net48" />
  <package id="_nilnul_._LINQ_" version="1.1.240820.60236" targetFramework="net48" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="nilnul._bit_._LIB_" version="1.1.240820.61016" targetFramework="net48" />
  <package id="nilnul._character_._LIB_" version="2.1.240820.61209" targetFramework="net48" />
  <package id="nilnul._obj_._LIB_" version="1.2.240820.60457" targetFramework="net48" />
  <package id="nilnul._rel_._LIB_" version="1.2.240820.175759" targetFramework="net48" />
  <package id="nilnul._set_._LIB_" version="1.1.240820.175638" targetFramework="net48" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net48" />
</packages>